{% extends 'base.html' %}

{% block head %}
<title>Notes</title>
{% endblock %}
{% block body %}
<center>
    <h1>Notes</h1>
    <br /><br />
    <form method='POST'>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Enter Note Title</span>
        <input name='notesTitleInp' type="text" class="form-control" placeholder="Enter Note Title" aria-label="Username" aria-describedby="addon-wrapping">
      </div>
      <br /><br />
    </form>
    <form method='POST'>
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Enter Note</span>
        <input name='notesInp' type="text" class="form-control" placeholder="Enter Note" aria-label="Username" aria-describedby="addon-wrapping">
      </div>
    </form>
    <br />
    {% for note in notes_list %}
    <h5>{{ note.0 }}</h5>
    <h5>{{ note.1 }}</h5>
    {% endfor %}
</center>
{% endblock %}
